.page-2-mobile {
  display: none;
}

@media screen and (max-width: 600px) {

.page-2-mobile {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  }

.wera-wang {
  display: flex;
  height: 70vh;
  }

.h2-wera-wang {
  align-self: center;
  margin: auto;
  text-align: right;
  color: var(--txt-color);
  font-size: 42px;
  line-height: 48px;
  font-family: "Bold";
  }

.wera-wang-button {
  display: flex;
  height: 30vh;
  }

.follow {
  height: 44px;
  width: 168px;
  align-self: center;
  margin: auto;
  font-size: 16px;
  font-family: "Regular";
  border: solid 1px #BEA683;
  background-color: var(--bg-color);
  color: var(--h1-color);
  border-radius: 3px;
  }
}
