.page-2-mobile {
  display: flex;
  background-image: url("images/overlay-glasses.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-end;
}

.h2-wera-wang {
  display: none;
}

.page-2-mobile p {
  color: #1F1F1F;
  font-size: 24px;
  line-height: 38px;
  font-family: "Regular";
  text-align: center;
  margin: 0 12% 4% 0;
}

.wera-wang-button {
  display: flex;
  margin: 0 9% 9% 0;
  font-family: "Light";
  background-color: rgba(0,0,0,0);
  color: var(--bg-color);
  justify-content: center;
  width: 474px;
  height: 85px;
  font-size: 24px;
  line-height: 66px;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .page-2-mobile {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wera-wang {
    display: flex;
    margin: 90% 5% 20% 0;
  }

  .page-2-mobile p {
    display: none;
  }

  .h2-wera-wang {
    display: inherit;
    align-self: center;
    margin: auto;
    text-align: right;
    color: var(--txt-color);
    font-size: 36px;
    line-height: 48px;
    font-family: "Bold";
  }

  .wera-wang-button {
    display: flex;
    width: 168px;
    height: 44px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;
    letter-spacing: -0.75px;
    margin: 0;
    align-self: center;
    color: var(--h1-color);
  }
}
