:root {
  --bg-color: #1F1F1F;
  --h1-color: #FFFFFF;
  --txt-color: #BEA683;
}

@font-face {
  font-family: "Bold";
  src: url(fonts/AktivGrotesk-Bold.woff);
}

@font-face {
  font-family: "Light";
  src: url(fonts/AktivGrotesk-Light.woff);
}

@font-face {
  font-family: "Medium";
  src: url(fonts/AktivGrotesk-Medium.woff);
}

@font-face {
  font-family: "Regular";
  src: url(fonts/AktivGrotesk-Regular.woff);
}

@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
