form {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  background-color: rgba(0, 0, 0, 0);
  color: var(--h1-color);
  height: 57px;
  width: 385px;
  margin-bottom: 10%;
  border: 2px solid var(--txt-color);
  border-radius: 3px;
}

a {
  text-decoration: none;
}

/* CONTACT PAGE STYLE END */
/* LEAVE EMAIL PAGE STYLE */
.leave-email {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsheet-background {
  position: absolute;
  opacity: 0.7;
}

.contactsheet-background img {
  width: 100vw;
  height: 100vh;
}

.contactsheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  justify-content: space-around;
  z-index: 1;
}

.contactsheet p {
  color: var(--h1-color);
  font-family: "Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.75px;
  width: 51%;
  margin-bottom: 5%;
}

.saab-big {
  margin-bottom: 7%;
  width: 281px;
  height: 64px;
}

.contactsheet h2 {
  display: none;
}

.fs-logo {
  width: 210px;
  height: 105px;
  margin-bottom: 7%;
}

::-webkit-input-placeholder {
  color: var(--h1-color);
  text-align: center;
  font-family: "Regular";
  font-size: 16px;
  line-height: 19px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.register-button {
  color: var(--h1-color);
  text-align: center;
  font-family: "Regular";
  font-size: 16px;
  line-height: 19px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--txt-color);
  height: 61px;
  width: 230px;
}

.hr-email {
  width: 170px;
  margin-top: 4%;
  margin-bottom: 5%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.back-button {
  display: contents;
  letter-spacing: 1px;
}

/* LEAVE EMAIL PAGE STYLE */

/* DOWNLOAD PAGE STYLE */
.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  z-index: 1;
}

.download a {
  margin-top: 15%;
}

.download h2 {
  color: var(--txt-color);
  font-family: "Bold";
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  margin-top: 5%;
}

.download p {
  font-family: "Regular";
  color: var(--h1-color);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  margin: 15% 0 7% 0;
}

.download-button {
  color: var(--h1-color);
  text-align: center;
  font-family: "Regular";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.75;
  background-color: rgba(190, 166, 131, 0.7);
  border: none;
  align-self: center;
  height: 57px;
  width: 385px;
  margin-bottom: 25%;
}

.fs-logo2 {
  width: 210px;
  height: 105px;
  margin: 5% 0 7% 0;
}

.hr-download {
  width: 170px;
  position: absolute;
  margin-top: 45%;
}

/* DOWNLOAD PAGE STYLE END */

/* CONFIRMATION PAGE STYLE */

.confirmation {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 5%;
}

.fs-logo3 {
    width: 210px;
    height: 105px;
    margin: -4% 0 15% 0;
}

.confirmation h2 {
  margin-bottom: 5%;
  font-size: 42px;
  line-height: 48px;
  font-family: "Bold";
  margin: 0;
}

.hr-confirmation {
  width: 170px;
  position: absolute;
  margin: 17% 0 0 0;
}

.confirmation a {
  margin-top: 10%;
}

/* CONFIRMATION PAGE STYLE END */

@media screen and (max-width: 600px) {
  /* LEAVE EMAIL PAGE STYLE */

  .contactsheet {
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .contactsheet a {
    margin-top: 9%;
  }

  .contactsheet-background {
    display: none;
  }

  .saab-big {
    display: none;
  }

  .fs-logo {
    display: none;
  }

  .contactsheet p {
    /* display: block; */
    align-self: flex-start;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1.5px;
    font-family: "Regular";
    width: 90%;
    margin: 3% 0 10% 5%;
  }

  .contactsheet h2 {
    display: block;
    text-align: left;
    margin-left: 5%;
    font-size: 42px;
    line-height: 48px;
  }

  .contactsheet input {
    background-color: inherit;
    border-radius: 3px;
    border: 1px solid var(--txt-color);
    width: 332px;
    height: 43px;
  }

  form {
    margin: 6%;
  }

  ::-webkit-input-placeholder {
    text-align: left;
    padding-left: 5%
  }

  .register-button {
    background-color: inherit;
    border-radius: 3px;
    border: 1px solid var(--txt-color);
    height: 44px;
    width: 168px;
    margin-bottom: 20%;
  }

  .hr-email {
    display: none;
  }

  /* LEAVE EMAIL PAGE STYLE END */
  /* DOWNLOAD PAGE STYLE */

  .download {
    margin-top: 50%;
  }

  .download h2 {
    margin-top: -100%;
    text-align: left;
    font-size: 42px;
    line-height: 48px;
  }

  .download p {
    align-self: flex-start;
    text-align: left;
    margin: 9%;
  }

  .download a {
    margin-top: 50px;
  }

  .fs-logo2 {
    z-index: -1;
    margin-top: 40%;
    opacity: 0.5;
  }

  .download-button {
    width: 288px;
    height: 75px;
    border-radius: 3px;
    background-color: rgba(190, 166, 131, 0.8);
    margin-top: 100px;
  }

  .hr-download {
    display: none;
  }

  /* DOWNLOAD PAGE STYLE END */

  /* CONFIRMATION PAGE STYLE */

  .confirmation {
    display: none;
  }
  /* CONFIRMATION PAGE STYLE END */
}
