.feature-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exterior {
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 9%;
}

.exterior-image {
  background-image: url("images/history5.jpg");
  height: 329px;
  width: 513px;
  background-position: center;
  background-size: cover;
}

.exterior-text {
  width: 513px;
  text-align: left;
  font-family: "Regular";
  letter-spacing: 1px;
  line-height: 30px;
}

.exterior-text h2 {
  font-size: 58px;
  color: var(--txt-color);
  text-align: left;
  letter-spacing: -2.35px;
  margin-bottom: 5%;
}

.exterior-text h3 {
  display: none;
}

.exterior-text p {
  font-size: 16px;
  color: #CBCBCB;
}

.exterior-text {
  width: 513px;
  text-align: left;
  font-size: 16px;
}

.exterior-mobile {
  display: none;
}

.interior {
  margin-right: 9%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.interior-image {
  background-image: url("images/interior.jpg");
  height: 329px;
  width: 513px;
  background-position: center;
  background-size: cover;
}

.interior-text h2 {
  font-size: 58px;
  color: var(--txt-color);
  text-align: right;
  letter-spacing: -2.35px;
  margin-bottom: 5%;
}

.interior-text {
  width: 513px;
  text-align: right;
  font-family: "Regular";
  letter-spacing: 1px;
  line-height: 30px;
}

.interior-text p {
  color: #CBCBCB;
}

.vertical-line {
  border-left: 2px solid var(--txt-color);
  height: 87%;
  align-self: center;
  justify-content: center;
  margin-right: 5%;
}

.feature-button {
  display: none;
}

.navigator {
  display: none;
}

.color-page {
  width: 100vw;
  height: 100vh;
  background-image: url("images/colours.jpg");
  background-position: center;
  background-size: cover;
  background-position: bottom;
  padding: 9% 0% 0% 0;
  box-shadow: inset 0px -150px 300px 0px rgba(0, 0, 0, 0.9),
              inset 0px 100px 300px 0px rgba(0, 0, 0, 0.9);
}

.swiper-container {
  display: none;
}

@media screen and (max-width: 600px) {

  .feature-page {
    flex-direction: row;
  }

  .exterior {
    margin: 0;
    width: 0;
  }

  .interior {
    display: none;
  }

  .exterior-image {
    display: none;
  }

  .exterior-text {
    height: 70%;
    width: 100vw;
  }

  .exterior-text h2 {
    display: none;
  }

  .exterior-text p {
    display: none;
  }

  .exterior-text h3 {
    display: block;
    font-size: 36px;
    font-family: "Bold";
    text-align: right;
    line-height: 48px;
    margin: 0 5% 30% 0;
  }

  .exterior-mobile {
    width: 100vw;
    height: 40vh;
    display: block;
    margin: 0;
  }

  .interior-image {
    display: none;
  }

  .interior-text {
    display: none;
  }

  .vertical-line {
    display: none;
  }

  .navigator {
    display: block;
  }

  .feature-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-family: "Light";
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06px;
    margin: 3%;
  }

  .feature-nav a {
    color: var(--h1-color);
    text-decoration: none;
  }

  .color-page {
    display: none;
  }

  .swiper-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
  }

  .swiper-wrapper {
    width: 100vw;
  }

  .feature-slide h3 {
    font-family: "Bold";
    font-size: 36px;
    line-height: 38px;
    text-align: right;
    letter-spacing: 0.1px;
    margin: 10% 0% 5% 10%;
    width: 85vw;
  }

  .feature-slide img, .exterior-slide img, .interior-slide img, .color-slide img {
    width: 100vw;
    height: 40vh;
    position:
  }

  .exterior-slide p, .interior-slide p {
    font-family: "Light";
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.7px;
    color: var(--h1-color);
    margin-top: 9%;
  }

  .in-focus a {
    color: var(--txt-color);
    font-family: "Bold"
  }

  .color-slide h1 {
    color: var(--txt-color);
    font-size: 42px;
    line-height: 48px;
    text-align: left;
    letter-spacing: 0.2px;
    width: 70vw;
    margin: 10% 0 35% 5%;
  }

  .feature-button {
     display: flex;
     background-color: rgba(0, 0, 0, 0);
     color: var(--h1-color);
     border: 1px solid var(--txt-color);
     height: 44px;
     width: 168px;
     font-family: "Regular";
     font-size: 16px;
     border-radius: 3px;
     justify-content: center;
     margin: 20% 0 0 28%;
   }

  .one-button {
    margin: 30.5% 0 0 28%;
   }
}
