* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: black;
  margin: 0px;
  }

.big-image {
  background-color: ghostwhite;
  height: 300px;
  /* width: 100% */
}

.navigator {
  /* width: 90% */
  height: 50px;
  }

.navigator li {
  display: inline;
  margin-left: 50px;
  }

.navigator a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  }

  #mark {
    color: #BEA683;
  }

.title {
  /* width: 90%; */
  height: 180px;
  }

.title h1 {
  text-align: right;
  font-weight: bold;
  font-size: 42px;
  color: #BEA683;
  margin-top: 5px;
}

.text {
  color: #BEA683;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  height: 200px;
  line-height: 28px;

  }

.follow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow button {
  border: #BEA683 solid 1px;
  height: 44px;
  width: 168px;
  background-color: black;
  color: white;
  font-size: 16px;
  }
