.firstpage {
  height: 100vh;
  display:flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* margin: 220px 142px 0px 142px; */
}

.text-header {
  /* display: flex; */
  flex-direction: column;
  margin: 350px 150px 0px 0px;
  /* height: 200px; */
  text-align: right;
}

.firstpage-h1 {
  font-family: "Bold";
  line-height: 95px;
  font-size: 110px;
  color: var(--h1-color);
  text-align: right;
}

.firstpage-h2 {
  line-height: 100px;
  font-family: "Bold";
  color: var(--txt-color);
  text-align: right;
  font-size: 100px;
}

.text-header p {
  text-align: right;
  margin: 5px;
  color: white;
}

.firstpage-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--h1-color);
  border: 1px solid var(--txt-color);
  height: 85px;
  width: 474px;
  font-family: "Regular";
  font-size: 24px;
  border-radius: 3px;
  /* margin-top: -800px; */
}

.firstpage a {
  margin: -150px 0px 0px 150px;
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 600px) {
  .img-firstpage {
    /* width: 100%;
    height: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    /* justify-content: flex-start; */
  }

  .firstpage {
    /* display: flex; */
    /* flex-direction: row; */
    /* margin: 0px 0px 0px 60px; */
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    /* margin: 280px 0 0 0; */
  }

  .text-header {
    /* align-items: flex-end; */
    /* justify-content: flex-end; */
    /* margin-bottom: 35px; */
    /* width: 100%; */
  }

  .text-header p {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
  }

  .firstpage-h1 {
    font-family: "Bold";
    font-size: 58px;
    line-height: 50px;
    letter-spacing: -0.05px;
  }

  .firstpage-h2 {
    font-size: 44px;
    line-height: 44px;
  }

  .firstpage-button {
    width: 168px;
    height: 44px;
    font-size: 16px;
    border-radius: 3px;
    letter-spacing: -0.75px;
    align-self: center;
  }
}
