* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 180px;
}

.saab {
  width: 130px;
  height: 30px;
  margin: 20px;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  align-items: center;
  background-color: black;
}

.img-car {
  width: 100%;
  height: 300px;
  background: url("https://images.pexels.com/photos/168938/pexels-photo-168938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  -moz-box-shadow: inset 0 -20px 15px -5px #000000;
  -webkit-box-shadow: inset 0 -20px 15px -5px #000000;
  box-shadow: inset 0 -20px 15px -5px #000000;
}

.main-text {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
  height: 160px;
  text-align: right;
  margin-right: 20px;
}

.fade {
  width: 100%;
  height: 300px;
  background-color: black;
  z-index: 1;
}

h2 {
  font-size: 42px;
  color: #C3A57E;
}

h1 {
  font-size: 58px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: 100px;
}

p {
  text-align: center;
  color: #C3A57E;
}

.button {
  border: #BEA683 solid 1px;
  height: 44px;
  width: 168px;
  background-color: black;
  color: antiquewhite;
  font-size: 16px;
  align-self: center;
}