.go-further-page {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 9% 9% 0% 0;
  background-image: url("images/autumnroad.jpg");
  background-position: center;
  background-size: cover;
}

.further {
  height: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.further-head {
  display: flex;
  font-family: "Bold";
  font-size: 68px;
  line-height: 60px;
  text-align: right;
  color: var(--txt-color);
}

@media screen and (max-width: 600px) {
  .go-further-page {
    display: none;
  }
}
