*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--txt-color);
  margin: 0;
  padding: 0;
  /* padding-bottom: 50px; */
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/*  FIRST PAGE STYLE */
header {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
}

.header-logo {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: space-between;
}

.saab {
  width: 130px;
  height: 30px;
}

.language-links a {
  color: var(--h1-color);
  text-decoration: none;
  font-family: "Medium";
  margin: 0px 10px 0px 10px;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
}

.nav-ist__hidden {
  transform: translateX(-100%);
}

.nav-ist__visible {
  transform: translateX(0);
}

.nav-ist {
  transition: transform 200ms ease;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 350px;
  background-color: rgba(254, 252, 255, 0.5);
  position: absolute;
  z-index: 10;
  padding: 10px;
  top: 80px;
  left: 0px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.5;
}

/* LANGUAGE BUTTONS */
.language-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
}

.language-links a {
  color: var(--h1-color);
  text-decoration: none;
  font-family: "Medium";
  margin: 0px 10px 0px 10px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.img-firstpage {
  height: 100vh;
  width: 100%;
  background-image: url("Studiobild-Spegelsida.png");
}

.text-header {
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: right;
  margin-right: 20px;
}

h1 {
  font-family: "Bold";
  line-height: 0.8em;
  font-size: 58px;
  color: var(--h1-color);
  text-align: right;
}

h2 {
  line-height: 0.8em;
  font-family: "Bold";
  font-size: 44px;
  color: var(--txt-color);
  text-align: right;
}

p {
  color: var(--txt-color);
  font-family: "Light";
  font-size: 16px;
}

/* FEATURE PAGES STYLE */
.big-image {
  display: none;
  }

.navigator {
  display: none;
}

.mark {
  color: var(--txt-color);
}

.citat {
  background-image: url("https://images.unsplash.com/photo-1470945780341-171b6da56841?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6a004d44e4190411ec76ee0d3fc24506&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 0px 30px;
  }

.citat h1 {
  text-align: right;
  font-weight: bold;
  font-size: 58px;
  color: var(--txt-color);
  margin: 10px 20px 0px 20px;
}

.text {
  color: var(--txt-color);
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  display: flex;
}

.text p {
  text-align: center;
  width: 80%;
}

/* INTRO SECTION TO TIMELINE */
.intro {
  background: var(--bg-color);
  padding: 100px 0;
  text-align: right;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.container h2 {
  text-align: right;
  font-family: "Bold";
  font-size: 58px;
  line-height: 48px;
}

.journey {
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;
}

.journey p {
  /* margin-bottom: 7px; */
  font-family: "Light";
  font-size: 14px;
  line-height: 14px;
  /* padding: 5px; */
  color: var(--h1-color);
}

.hr1 {
  border: 0;
  border-top: 7px solid var(--txt-color);
  width: 40px;
  margin: 5px;
}

.journey:hover {
  cursor: pointer;
}

.hr1:hover {
  transition: .5s;
  width: 150px;
}

p:hover+.hr1 {
  cursor: pointer;
  transition: .5s;
  width: 150px;
}

button {
  background-color: var(--bg-color);
  color: var(--h1-color);
  border: 1px solid var(--txt-color);
  height: 44px;
  width: 168px;
  margin: 80px 0px 50px 0px;
  font-family: "Regular";
  font-size: 16px;
  border-radius: 3px;
}
/* INTRO SECTION TO TIMELINE END*/

/* TIMELINE STYLE */
time {
  color: var(--h1-color);
  font-family: "IBM Plex Sans";
  font-size: 23px;
  position: absolute;
}

.timeline p {
  color: var(--txt-color);
  width: 20vw;
  font-family: "Light";
  font-size: 16px;
  margin-top: 35px;
  position: relative;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  background: #FFFFFF;
  /* display: flex; */
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 100px;
  height: 1px;
  background: #FFFFFF;
}

.timeline ul li .right {
  text-align: right;
  transform: translate3d(200px, 0, 0);
}

.timeline ul li .right::before {
  left: 0px;
}

.timeline ul li .right time {
  margin-left: 115px;
}

.timeline ul li .left time {
  margin-left: -200px;
}

.timeline ul li .left {
  text-align: left;
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li .left::before {
  left: -100px;
}

.timeline ul li .left p {
  margin-left: -25vw;
}

.timeline ul li .right p {
  margin-left: 3vw;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
/* TIMELINE STYLE END*/


/* CONTACT PAGE STYLE */
.top-text {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.first {
  color: var(--txt-color);
  line-height: 40px;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 20px 0 20px;
}

.second {
  text-transform: uppercase;
  color: var(--h1-color);
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  margin: 10px 20px 0 20px;
}

form {
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}

input {
  background-color: rgba(190, 166, 131, 0.7);
  color: var(--h1-color);
  height: 57px;
  width: 385px;
  margin-bottom: 32px;
  border: none;
  border-radius: 3px;
}
/* CONTACT PAGE STYLE END */


/* LEAVE EMAIL PAGE STYLE */
.leave-email {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsheet-background {
  position: absolute;
  opacity: 0.7;
}

.contactsheet-background img {
  width: 100vw;
  height: 100vh;
}

.contactsheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  z-index: 1;
}

.contactsheet p {
  color: var(--h1-color);
  font-family: "Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.75px;
  margin-bottom: 36px;
}

.saab-big {
  margin-bottom: 64px;
  width: 281px;
  height: 64px;
}

.contactsheet h2 {
  display: none;
}

.cross-button {
  display: none;
}

.fs-logo {
  width: 210px;
  height: 105px;
  margin-bottom: 38px;
}

::-webkit-input-placeholder {
  color: var(--h1-color);
  text-align: center;
  font-family: "Regular";
  font-size: 16px;
  line-height: 19px;
}

.register-button {
  color: var(--h1-color);
  text-align: center;
  font-family: "Regular";
  font-size: 16px;
  line-height: 19px;
  background-color: rgba(190, 166, 131, 0.7);
  border: none;
  align-self: center;
  height: 61px;
  width: 230px;
  margin-top: 29px;
  margin-bottom: 33px;
}

.hr-email {
  width: 170px;
  margin-top: 645px;
  position: absolute;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0 20px;
}
/* LEAVE EMAIL PAGE STYLE */


/* CONFIRMATION PAGE STYLE */
.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  z-index: 1;
}

.confirmation .thank-you {
  color: var(--txt-color);
  font-family: "Bold";
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  margin-top: 10px;
}

.confirmation .learn-more {
  font-family: "Regular";
  color: var(--h1-color);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 20px;
}

.download-button {
  color: var(--h1-color);
  text-align: center;
  font-family: "Regular";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.75;
  background-color: rgba(190, 166, 131, 0.7);
  border: none;
  align-self: center;
  height: 57px;
  width: 385px;
  margin-top: 50px;
}

.fs-logo2 {
  width: 210px;
  height: 105px;
  margin-bottom: 38px;
}

.hr-download {
  width: 170px;
  position: absolute;
  margin-top: 590px;
}

/* CONFIRMATION PAGE STYLE END */


/* FOOTER STYLE*/
.footer {
  height: 158px;
  width: 100%;
  background-color: #34322E;
}

hr {
  color: #fffff;
  border-style: inset;
  border-width: 1px;
  margin: 2em auto;
  width: 85%;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer ul li {
  list-style: none;
  font-family: "Light";
  font: 24px;
  padding-top: 10px;
}

/* FOOTER END*/

@media screen and (max-width: 900px) {
  .intro {
    display: flex;
    justify-content: flex-end;
  }

  .container {
    margin: 20px;
  }

  .journey {
    display: none;
  }

  .timeline ul li .left::before {
    left: -100px;
  }

  .timeline ul li .right p {
    margin-left: 5vw;
  }

  .timeline ul li .left p {
    margin-left: -30vw;
  }

  .big-image, .navigator, .text {
    width: 100%;
  }

  .title {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 44px;
  }

  .journey {
    display: none;
  }

  .container h2 {
    font-size: 44px;
    line-height: 48px;
  }

/* TIMELINE STYLE */
  .timeline p {
    width: 30vw;
  }

  .timeline ul li .right::before {
    left: 0px;
  }

  .timeline ul li .left::before {
    left: -100px;
  }

  .timeline ul li .left time {
    margin-left: -180px;
  }

  .timeline ul li .left p {
    margin-left: -180px;
  }

  .timeline ul li .right time {
    margin-left: 100px;
  }

  .timeline ul li .right p {
    margin-left: 40px;
  }
  /* TIMELINE STYLE END*/

  .big-image, .navigator, .text {
    width: 100%;
    justify-content: center;
  }

  .title {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
  }

  .navigator {
    display: block;
    width: 100%;
    height: 50px;
  }

  .navigator ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
  }

  .navigator a {
    color: var(--h1-color);
    text-decoration: none;
    font-size: 16px;
    font-family: "Light";
  }

/* LEAVE EMAIL PAGE STYLE */
  .leave-email {
    justify-content: center;
  }

  .contactsheet {
    display: flex;
    width: 100%;
    margin-top: -10px;
  }

  .contactsheet-background {
    display: none;
  }

  .cross-button {
    display: block;
    align-self: flex-start;
    margin: 20px 0px 20px 20px;
    border: none;
    width: 47px;
    height: 47px;
    color: var(--txt-color);
  }

  .saab-big {
    display: none;
  }

  .fs-logo {
    z-index: -1;
    margin-top: 120px;
    opacity: 0.5;
  }

  .contactsheet p {
    display: block;
    align-self: flex-start;
    margin: -270px 0px 0px 20px;
    letter-spacing: 1px;
  }

  .contactsheet h2 {
    display: block;
    align-self: flex-start;
    text-align: left;
    margin: 0px 40px -40px 20px;
    width: 253px;
    height: 192px;
    font-size: 44px;
    line-height: 48px;
  }

  .contactsheet input {
    background-color: inherit;
    border-radius: 3px;
    border: 1px solid var(--txt-color);
    width: 332px;
    height: 43px;
    margin: 41px 0px -20px 0px;
  }

  .register-button {
    background-color: inherit;
    border-radius: 3px;
    border: 1px solid var(--txt-color);
    height: 44px;
    width: 168px;
    margin-top: 70px;
    /* position: relative; */
  }

  .hr-email {
    display: none;
  }
  /* LEAVE EMAIL PAGE STYLE END */

/* CONFIRMATION PAGE STYLE */
  .confirmation .thank-you {
    align-self: center;
    margin-top: -450px;
    text-align: left;
  }

  .confirmation .learn-more {
    align-self: center;
    text-align: left;
    /* margin-top: 20px; */
  }

  .fs-logo2 {
    z-index: -1;
    margin-top: 280px;
    opacity: 0.5;
  }

  .download-button {
    width: 288px;
    height: 75px;
    border-radius: 3px;
    margin-top: 150px;
    background-color: rgba(190, 166, 131, 0.8);
  }

  .download-button i {
    display: none;
  }

  .hr-download {
    display: none;
  }

  /* CONFIRMATION PAGE STYLE END */

  .big-image {
    display: flex;
    background-color: var(--h1-color);
    height: 250px;
    width: 100%;
    margin: 0px;
  }

  .citat {
    background-image: none;
    background-size: none;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: none;
  }
  .citat h1 {
    text-align: right;
    font-weight: bold;
    font-size: 42px;
    color: var(--txt-color);
    margin: 10px 5px 0px 20px;
  }
}
