body {
  /* background: var(--bg-color); */
  color: var(--txt-color);
   background: linear-gradient(#1F1F1F 0%,#000000 100%);
}

section {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Bold";
  line-height: 0.8em;
  font-size: 58px;
  color: var(--h1-color);
  text-align: right;
}

h2 {
  line-height: 60px;
  font-family: "Bold";
  font-size: 68px;
  color: var(--txt-color);
  text-align: right;
  margin-right: 9%;
}

p {
  color: var(--txt-color);
  font-family: "Light";
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

.all-page-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;
  margin-left: -69%;
}

.all-page-button p {
  color: var(--h1-color);
  font-family: "Light";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
}

.hr1 {
  border: 0;
  border-top: 7px solid var(--txt-color);
  width: 40px;
  margin: 5px;
}

.all-page-button:hover {
  cursor: pointer;
}

.hr1:hover {
  transition: .5s;
  width: 150px;
}

p:hover+.hr1 {
  cursor: pointer;
  transition: .5s;
  width: 150px;
}

@media screen and (max-width: 600px) {
  .all-page-button {
    display: none;
  }
}
