*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  background: #000000;
  color: #BEA683;
  overflow-x: hidden;
  padding-bottom: 50px;
  /* display: flex; */
  /* width: 100%; */
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #000000;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
  /* justify-content: center; */

}

h1 {
  font-size: 2.5rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

time {
  color: #FFFFFF;
  font-weight: bold;
}

p {
  color: #BEA683;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 50px;
  background: #FFFFFF;
}

/* .timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
} */

.timeline ul li div {
  position: relative;
  width: 400px;
  padding: 15px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  top: 20px;
  width: 100px;
  height: 1px;
  background: #FFFFFF;
}

.timeline ul li .right {
  left: 100px;
}

.timeline ul li .left {

}

.timeline ul li .right::before {
  left: -100px;
}

.timeline ul li .left {
  left: -439px;
}

.timeline ul li .left::before {
  right: -40px;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li div p {
  width: 90px;
}

.timeline ul li .right {
  justify-content: center;
  transform: translate3d(200px,0,0);
}

.timeline ul li .right p {
  transform: translate3d(-80px,0,0);
  width: 120px;
  text-align: right;
}

.timeline ul li .right time {
  /* transform: translate3d(-100px,0,0); */
  /* width: 50px; */
  /* text-align: right; */
}

.timeline ul li .left {
  transform: translate3d(-200px,0,0);
}

.timeline ul li .left p {
  transform: translate3d(250px,0,0);
  width: 120px;
}

.timeline ul li .left time {
  transform: translate3d(20px,0,0);
  /* width: 50px; */
  /* text-align: right; */
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li .left div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  /* .timeline ul li {
    margin-left: 20px;
  } */

  .timeline ul li div {
    width: 120px;
  }

  .timeline ul li .left {
    left: -180px;
  }

  .timeline ul li .left::before {
    right: -60px;
  }

  .timeline ul li .left p {
    transform: translate3d(0px,0,0);
  }
}
