*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AktivGrotesk-Bold";
  src: url(fonts/AktivGrotesk-Bold.otf);
  font-family: "AktivGrotesk-Light";
  src: url(fonts/AktivGrotesk-Light.otf);
  font-family: "AktivGrotesk-Medium";
  src: url(fonts/AktivGrotesk-Medium.otf);
  font-family: "AktivGrotesk-Regular";
  src: url(fonts/AktivGrotesk-Regular.otf);
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  /* font-family: "AktivGrotesk-Bold"; */
  background: #000000;
  color: #BEA683;
  overflow-x: hidden;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #000000;
  padding: 100px 0;
  text-align: right;
}

.container {
  width: 90%;
  /* max-width: 120px; */
  margin: 0 auto;
  text-align: right;
  justify-content: center;

}

h1 {
  font-family: "AktivGrotesk-Bold";
  font-size: 44px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

time {
  color: #FFFFFF;
  font-family: 'IBM Plex Sans';
  font-size: 23px;
}

p {
  color: #BEA683;
  width: 120px;
  font-family: "AktivGrotesk-Light";
  font-size: 16px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 50px;
  background: #FFFFFF;
  display: flex;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 100px;
  height: 1px;
  background: #FFFFFF;
}

.timeline ul li .right {
  left: 50px;
  text-align: right;
  transform: translate3d(200px,0,0);
}

.timeline ul li .right::before {
  left: -50px;
}

.timeline ul li .left {
  left: -200px;
  text-align: left;
  transform: translate3d(-200px,0,0);
}

.timeline ul li .left::before {
  left: 100px;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  /* .timeline ul li div {
    width: 250px;
  }
  .timeline ul li .left div {
    left: -289px;
  } */
}

@media screen and (max-width: 600px) {
  .timeline ul li .right {
    left: 30px;
  }

  .timeline ul li .right::before {
    left: -30px;
  }

  .timeline ul li .left {
    left: -180px;
  }

  .timeline ul li .left::before {
    left: 80px;
  }
}
