* {
  box-sizing: border-box;
  margin: 0px;
}


body {
  top: 100px;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1506719040632-7d586470c936?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e64b8bb53bd561e25aba0bb01deec288&auto=format&fit=crop&w=2070&q=80");
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
}

header {
  width: 100%;
  height: 100px;
}

.logo {
  margin: 5px 0px 0px 5px;
}

img {
  width: 200px;
  height: 50px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.main-text p {
  color: rgb(255, 255, 255);
  font-size: 16pt;
}

.button {
  width: 200px;
  height: 45px;
  background-color: rgb(218, 245, 34);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(46, 213, 10);
}

.swipe-picture {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  height: 50vh;
  max-height: 100vh;
}

.swipe-picture img {
  min-width: 100%;
  width: 100%;
  height: 50vh;

}
