.timeline-page {
  padding: 0 0 10% 0;
}

time {
  color: var(--h1-color);
  font-family: "IBM Plex Sans";
  font-size: 23px;
  position: absolute;
}

.timeline p {
  color: var(--txt-color);
  /* width: 10vw; */
  font-family: "Light";
  font-size: 16px;
  margin-top: 35px;
  /* position: relative; */
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  background: #FFFFFF;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  /* position: relative; */
  padding: 7vw;
  display: flex;
  flex-direction: column;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 300px;
  height: 1px;
  background: #FFFFFF;
}

.timeline ul li .right {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li .right::before {
  left: -120px;
}

.timeline ul li .right time {
  margin-left: 650%;
}

.timeline ul li .left time {
  margin-left: -930%;
}

.timeline ul li .left {
  text-align: left;
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li .left::before {
  left: -180px;
}

.timeline ul li .left p {
  margin-left: -19.5vw;
  width: 10vw;
}

.timeline ul li .right p {
  text-align: left;
  margin-left: 13.5vw;
  width: 10vw;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline ul li.in-view .img-right {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* .history-image {
  width: 40vw;
  height: 20vh;
} */

/* TIMELINE STYLE END*/
@media screen and (max-width: 900px) {
  .intro {
    display: flex;
    justify-content: flex-end;
  }

  .container {
    margin: 20px;
  }

  .journey {
    display: none;
  }

  .timeline ul li .left::before {
    left: -100px;
  }

  .timeline ul li .right p {
    margin-left: 5vw;
  }

  .timeline ul li .left p {
    margin-left: -30vw;
  }
}

@media screen and (max-width: 600px) {
  .journey {
    display: none;
  }

  .container h2 {
    font-size: 44px;
    line-height: 48px;
  }

  /* TIMELINE STYLE */
  .timeline p {
    width: 30vw;
  }

  .timeline ul li .right::before {
    left: 0px;
  }

  .timeline ul li .left::before {
    left: -100px;
  }

  .timeline ul li .left time {
    margin-left: -180px;
  }

  .timeline ul li .left p {
    margin-left: -180px;
  }

  .timeline ul li .right time {
    margin-left: 100px;
  }

  .timeline ul li .right p {
    margin-left: 40px;
  }

  /* TIMELINE STYLE END*/
}
