.timeline-page {
  padding: 10% 0 10% 0;
}

.timeline ul li img {
  width: 30vw;
  height: 30vh;
  position: absolute;
}

.img-right {
  right: 5vw;
  transform: translate3d(-200px, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.img-left {
  left: 5vw;
  transform: translate3d(200px, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.timeline ul {
  display: flex;
  flex-direction: column;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  background: var(--txt-color);
}

.timeline ul li div {
  position: relative;
  height: 70vh;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  width: 20vw;
  height: 2px;
  background: var(--txt-color);
}

.timeline ul li .right {
  right: 8vw;
  transform: translate3d(200px, 0, 0);
}

.timeline ul li .left {
  right: 12vw;
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li .right time {
  position: absolute;
  left: 22vw;
  top: -4.5%;
  color: var(--h1-color);
  font-family: "IBM Plex Sans";
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.4px;
}

.timeline ul li .left time {
  position: absolute;
  top: -4.5%;
  right: 2vw;
  color: var(--h1-color);
  font-family: "IBM Plex Sans";
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.4px;
}

.timeline ul li .left p {
  position: absolute;
  left: -7.5vw;
  text-align: left;
  width: 15vw;
  top: 5%;
}

.timeline ul li .right p {
  position: absolute;
  left: 22vw;
  text-align: left;
  width: 20vw;
  top: 5%;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline ul li.in-view .img-right {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline ul li.in-view .img-left {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline-button {
  display: none;
}

.productfolder {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("images/mockup-folder.png");
  background-position: center;
  background-size: cover;
}

.productfolder h2 {
  margin-top: 9%;
}

.productfolder a {
  align-self: center;
  margin-bottom: 9%;
}

@media screen and (max-width: 600px) {
  .timeline ul li div {
    height: 30vh;
  }

  .timeline ul li div::before {
    width: 30vw;
  }

  .timeline ul li .left::before {
    left: -10vw;
  }

  .img-right {
    right: 8vw;
  }

  .img-left {
    left: 8vw;
  }

  .timeline ul li img {
    width: 42vw;
    height: 15vh;
  }

  .timeline h2 {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0.1px;
    margin-right: 5%;
  }

  .timeline ul li .right time {
    font-size: 23px;
    line-height: 30px;
    left: 35vw;
    top: -7%;
  }

  .timeline ul li .left time {
    font-size: 23px;
    line-height: 30px;
    right: 15vw;
    top: -7%;
  }

  .timeline ul li .left p {
    position: absolute;
    left: -29vw;
    text-align: left;
    width: 35vw;
    top: 15%;
  }

  .timeline ul li .right p {
    position: absolute;
    left: 15vw;
    text-align: right;
    width: 35vw;
    top: 15%;
  }

  .productfolder {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .productfolder h2 {
    font-size: 36px;
    line-height: 38px;
    margin: 10% 5% 0 0;
  }

  .productfolder a {
    margin-bottom: 20%;
    align-self: center;
  }
}
